<div class="page-header" id="banner">

  <div class="row">
    <div class="col-lg-6">
      <h1>Events</h1>
      <p class="lead">Events reported by sources via the HTTP REST API</p>
    </div>


    <%= render 'shared/foreman' %>
  </div>
</div>
<div class="row">
  <%= link_to 'New Source', new_source_path, class:"btn btn-success btn-sm pull-right" %>
</div>
<div class="row">
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Port</th>
      <th>Kind</th>
      <th>Version</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.name %></td>
        <td><%= source.address %></td>
        <td><%= source.port %></td>
        <td><%= source.kind %></td>
        <td><%= source.version %></td>
        <td><%= link_to 'Show', source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>