<div class="page-header" id="banner">

  <div class="row">
    <div class="col-lg-6">
      <h1>Editing Event</h1>
      <p class="lead">Event #<%= @event.id %></p>
    </div>


    <%= render 'shared/foreman' %>
  </div>
</div>
<div class="row">
  <%= link_to 'New Event', new_event_path, class:"btn btn-success btn-sm pull-right" %>
</div>

<%= render 'form' %>

<%= link_to 'Show', @event, class: "btn btn-default btn-sm" %> |
<%= link_to 'Back', events_path, class: "btn btn-default btn-sm" %>
