<div class="page-header" id="banner">

  <div class="row">
    <div class="col-lg-6">
      <h1>Editing Event</h1>
      <p class="lead">Event #<%= @event.id %></p>
    </div>


    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
      <div class="well sponsor">
        <% # Foreman Statistics Partial View %>
        <p>Foreman Statistics Placeholder</p>
        <p>Foreman Statistics Placeholder</p>
      </div>
    </div>
    <% # render actions here
       # <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
       #   <div class="well sponsor">
       #     <a href="http://srv.buysellads.com/direct/click/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;banner&#39;, &#39;click&#39;, &#39;treehouse&#39;]);" rel="nofollow" target="_blank">
       #             <span style="float: left; margin-right: 15px;">
       #               <img src="http://srv.buysellads.com/direct/image/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" onload="_gaq.push([&#39;_trackEvent&#39;, &#39;banner&#39;, &#39;impression&#39;, &#39;treehouse&#39;]);" width="175" height="135">
       #             </span>
       #     </a>
       #     <a href="http://srv.buysellads.com/direct/click/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;banner&#39;, &#39;click&#39;, &#39;treehouse&#39;]);" rel="nofollow" target="_blank">
       #       <h4 style="margin-bottom: 0.4em;">Treehouse</h4>
       #       <div class="clearfix">
       #         <p>Learn Web Design, Coding, Mobile App Development &amp; More.</p>
       #         <p>Start Learning for Free!</p>
       #       </div>
       #     </a>
       #   </div>
       # </div>
    %>
  </div>
</div>
<div class="row">
  <%= link_to 'New Event', new_event_path, class:"btn btn-success btn-sm pull-right" %>
</div>

<%= render 'form' %>

<%= link_to 'Show', @event, class: "btn btn-default btn-sm" %> |
<%= link_to 'Back', events_path, class: "btn btn-default btn-sm" %>
