<div class="page-header" id="banner">

  <div class="row">
    <div class="col-lg-6">
      <h1>Event Details</h1>
      <p class="lead">Event Updated at <%= @event.updated_at %></p>
    </div>


    <%= render 'shared/foreman' %>
  </div>
</div>
<div class="row">
  <%= link_to 'New Event', new_event_path, class:"btn btn-success btn-sm pull-right" %>
</div>
<div class="row">


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>Level:</strong>
  <%= @event.level %>
</p>

<p>
  <strong>Source:</strong>
  <%= @event.source %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'All Events', events_path %>

</div>