<h1>Listing facts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Data</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @facts.each do |fact| %>
      <tr>
        <td><%= fact.name %></td>
        <td><%= fact.data %></td>
        <td><%= fact.event %></td>
        <td><%= link_to 'Show', fact %></td>
        <td><%= link_to 'Edit', edit_fact_path(fact) %></td>
        <td><%= link_to 'Destroy', fact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fact', new_fact_path %>
